<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="offset-3 col-md-6 login-form-2">
                    <h3>Register as a hospital </h3>
                    <form>
                      <div class="form-group">
                        <input type="text"  class="form-control" ng-model="form.required" validator="required" placeholder="Enter hospital Name" value="" />
                    </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Hospital Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Hospital Password *" value="" />
                        </div>
                        <div class="form-group">
                          <input type="number" class="form-control" placeholder="Enter hospital Mobile Number..." value="" />
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter hospital street Please..." value="" />
                    </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter hospital City Please..." value="" />
                    </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btnSubmit" value="Register" />
                        </div>
                        <div class="form-group text-center">
                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
