<div class="container">
  <div class="row">
    <div class="col-lg-9">
        <h2>Who can give blood</h2>
        <ul class="whyul">
          <li>Most people can <a href="#"> give blood</a>. You can give blood if you:
          </li>
          <ul class="mb-5 ">
            <li>are fit and healthy
            </li>
            <li>weigh between 7 stone 12 lbs and 25 stone, or 50kg and 158kg</li>
            <li>are aged between 17 and 66 (or 70 if you have given blood before)</li>
            <li>30,000 new donors with priority blood types such as O negative every year</li>
            <li>are over 70 and have given a full blood donation in the last two years
            </li>
          </ul>
            </ul>
            <h2>Coronavirus (COVID-19) advice
            </h2>
            <ul class="whyul">
              <li>Please keep donating, particularly if you are:


              </li>
              <ul class="mb-5 ">
                <li>are fit and healthy
                </li>
                <li>male - men can donate more often than women
                </li>
                <li>black - Ro blood is needed and is a common type for black donors
                </li>
                <li>O negative - hospitals need this blood type most regularly, as it can be given to all patients
                </li>
              </ul>
                </ul>
                <p>Our donation centres are open as normal despite coronavirus restrictions. Giving blood and platelets is essential to the NHS and vulnerable patients.</p>
                <p>We have new rules about donating after coronavirus. Please read the following information before coming to donate:

                </p>
                <ul>
                  <li><a href="#"> Read our coronavirus rules</a> about donating blood
                  </li>
                  <li><a href="#"> Read our latest advice for blood donors</a>
                  </li>
                </ul>
                <h2>How often can I give blood?
                </h2>
                <p>Men can give blood every 12 weeks and women can give blood every 16 weeks. Find out more about</p>
                 <p> <a href="#"> what happens on the day of your donation.</a></p>
                  <h2>Check you are able to give blood  </h2>

                  <p>Use this quick list to <a href="#"> check you can give.</a></p>
                  <p>You can also read some of the <a href="#"> most common eligibility questions</a> we receive from blood donors.</p>
                  <p>If you have a health condition, have travelled out of the country recently, or if you answer "yes" to any question on your Donor Health Check questionnaire, please call 0300 123 23 23 or check the <a href="#"> health & eligibility</a> or <a href="#"> travel section</a> for further advice about whether this affects you donating blood.</p>
                  <p>You can <a href="#"> register here as a blood donor.</a></p>
                  <ul class="whyul">
                    <li>The common reasons donors should check if they can give blood are:</li>
                    <ul class="mb-5 ">
                      <li>if you are receiving medical or hospital treatment

                      </li>
                      <li>if you are taking medication

                      </li>
                      <li>after travelling outside of the UK

                      </li>
                      <li>after having a tattoo or piercing

                      </li>
                      <li>during and after pregnancy
                      </li>
                      <li>if you feel ill
                      </li>
                      <li>if you have cancer
                      </li>
                      <li>after receiving blood, blood products or organs
                      </li>
                    </ul>
                      </ul>
                      <p>If you have any questions then contact us by <a href="#"> completing a web form</a> or call us on 0300 123 23 23.
                      </p>
                      <h2>Male and female donors
                      </h2>
                      <p>Men are more likely to donate more often than women because they generally have higher iron levels.
                      </p>
                      <p>Find out more about <a href="#"> why men often make good blood donors </a></p>
                        <h3>Women under 20 - check if you can give blood</h3>
                        <p>If you are a woman under 20 and you weigh under 10st 3lb or 65kg or are under 5' 6" or 168cm tall you will need to estimate your blood volume to see if you can give blood. If your weight lies between two of the values shown, please use the nearest lower weight.</p>

                        <form action="">
                          <label  for="height"> Your height</label>
                          <select class="form-control" name="height" id="">
                            <option value="">Please select an option...</option></select>
                            <label  for="weight">Your weight</label>
                            <select class="form-control" name="weight" id="">
                              <option value="">Please select an option...</option></select>
                        </form>

                        <div><b>Estimate :  </b>      Good news, your estimated blood volume is more than 3500ml, meaning you are able to give blood.</div>

                        <p>Alternatively <a href="#"> download our reference sheet here (PDF 109KB)</a> </p>
                        <h1>Blood safety (please read all sections)</h1>
                        <p>We must make sure it is safe for people to give blood and for patients to receive donated blood. Blood safety information is below:  </p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne"
                              >
                                Accordion Item #1
                              </button>
                            </h2>
                            <div
                              id="flush-collapseOne"
                              class="accordion-collapse collapse"
                              aria-labelledby="flush-headingOne"
                              data-mdb-parent="#accordionFlushExample"
                            >
                              <div class="accordion-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseTwo"
                                aria-expanded="false"
                                aria-controls="flush-collapseTwo"
                              >
                                Accordion Item #2
                              </button>
                            </h2>
                            <div
                              id="flush-collapseTwo"
                              class="accordion-collapse collapse"
                              aria-labelledby="flush-headingTwo"
                              data-mdb-parent="#accordionFlushExample"
                            >
                              <div class="accordion-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapseThree"
                                aria-expanded="false"
                                aria-controls="flush-collapseThree"
                              >
                                Accordion Item #3
                              </button>
                            </h2>
                            <div
                              id="flush-collapseThree"
                              class="accordion-collapse collapse"
                              aria-labelledby="flush-headingThree"
                              data-mdb-parent="#accordionFlushExample"
                            >
                              <div class="accordion-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
    <div class="col-lg-3">
      <div class=" cardbg " >
        <img src="https://nhsbtdbe.blob.core.windows.net/az766967/0/c/4/d/6/5/0c4d654db14c38cd89cebf01f041d0226dad1af7.jpg" class="card-img-top" alt="...">
         <h5> <a class="card-title">Coronavirus update</a></h5>
      </div>
    </div>
  </div>
</div>

<script>

</script>
