<div class="container ">
<br><br><br>

<div class="row">
<div class="col-12 col-lg-9">
  <h2 class="my-5">Why give blood</h2>
  <p class="my-4">Giving blood saves lives. The blood you give is a lifeline in an emergency and for people who need long-term treatments.</p>
<h3>Why do we need you to give blood?</h3>
<p>We need new blood donors from all backgrounds to ensure there is the right blood available for patients who need it.</p>
<h4>We need:</h4>
<ul>
<ul class="mb-5">
  <li>Nearly 400 new donors a day to meet demand</li>
  <li>Around 135,000 new donors a year to replace those who can no longer donate</li>
  <li><a href="">40,000 more black donors </a>to meet growing demand for better-matched blood</li>
  <li>30,000 new donors with priority blood types such as O negative every year</li>
  <li>More young people to start giving blood so we can make sure we have enough blood in the future </li>
</ul>
  </ul>
  <div class="offset-1">
  <div class="row">
    <div class="col-lg-5 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/b/a/a/1/d/f/baa1dffa606f4c87d58f573e07588ff28b1d85fd.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Blood types</h5>

        <p class="card-text">Information about the most common and rarest blood types and why your blood type is important.</p>
        <a href="#" class="btn btn-outline-danger" >Find out more</a>
      </div>
    </div>
    <div class="col-lg-5 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/0/0/4/e/4/7/004e4759d2188537ff796a4229fd9aec5f752f7a.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Demand for different blood types </h5>

        <p class="card-text ">Learn about the factors that affect how much of each blood type we need to collect</p>
        <a href="#" class="btn btn-outline-danger" >Find out more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/9/9/b/c/f/e/99bcfe748f3c4cda57bd48df93f0ae91e7a95112.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">How your blood is used</h5>

        <p class="card-text ">Your red blood cells, platelets and plasma can save up to three lives</p>
        <a href="#" class="btn btn-outline-danger" >Find out more</a>
      </div>
    </div>
    <div class=" col-lg-5 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/e/8/7/2/6/4/e872647764baa7d704cb55016da791ffe599682d.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Who you can help</h5>

        <p class="card-text">Inspirational stories from donors and patients whose lives have been transformed by blood transfusions</p>
        <a href="#" class="btn btn-outline-danger" >Find out more</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-12 col-lg-3 ">
  <div class="offset-1 offset-lg-0">
  <div class=" cardbg " >
    <img src="https://nhsbtdbe.blob.core.windows.net/az766967/6/c/a/b/f/e/6cabfe9ee8da5342491efa4364c536af6ef3f94c.jpg" class="card-img-top" alt="...">
     <h5> <a class="card-title">Coronavirus information</a></h5>
  </div>
  <br>
  <br>
  <div class=" cardbg" >
    <img src="https://nhsbtdbe.blob.core.windows.net/az766967/2/8/8/5/8/7/288587afa97d6b252969952e349db065abadf5de.jpg" class="card-img-top" alt="...">
    <h5> <a class="card-title">Want to give blood for the first time?</a></h5>
  </div>
  <br><br>

  <div class="whyregister">
    <h5>Register</h5>
    <p>Become a blood donor</p>
    <div class="btn btn-success">Register</div>
  </div>
  <br>
  <div class="mt-2">
    <h5>Giving blood in the UK
    </h5>
    <p>We collect blood in England. The rest of the UK has different services that do this:</p>
    <div class="py-2 ">
      <ul class="whyul">
    <li><a href="">Welsh Blood Service</a></li>
    <li><a href="">Scottish National Blood Transfusion Service</a></li>
    <li><a href="">Northern Ireland Blood Transfusion Service</a></li>

  </ul>
  </div>
</div>
</div>
</div>
</div>

</div>
