<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="img">
    <h2>We <span style="color: red;">need</span>  more blood donors this summer
    </h2>
    <div>

    <h4>
      Please book an<span style="color: royalblue;"> appointment</span>  to donate.
    </h4>
  </div>
  </div>
<div class="mt-2">
  <a class="p-2" style="text-decoration: none; background-color: #D61E05; color: rgb(248, 245, 245);" href="#">Appointments are available at some of our centres >></a>
</div>
  <div class="pt-5 container">
    <h3 style="padding: 10px;">Donation highlights</h3>
<div class="row justify-content-between">

  <div class="col-12 col-lg-4 cardbg" >
    <img src="https://nhsbtdbe.blob.core.windows.net/az766967/f/0/f/6/2/c/f0f62cca82ae964413e85d7f6f7bbe4339e900d7.jpg" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">Critical call for Black people to give blood</h5>

      <p class="card-text">Donating blood today? Complete your pre-reading and health history questions online using any device, before visiting your blood drive location.</p>
      <a href="#" class="btn btn-outline-danger" >Find out more</a>
    </div>
  </div>
  <div class="col-12 col-lg-4 cardbg" >
    <img src="https://nhsbtdbe.blob.core.windows.net/az766967/3/f/6/9/4/2/3f69429f4a6c66608770f97396de42b4e14f26f7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">More people now able to give blood
      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <br>
      <a href="#" class="btn btn-outline-danger">What has changed?</a>
    </div>
  </div>
  <div class="col-12 col-lg-4 cardbg" >
    <img src="https://nhsbtdbe.blob.core.windows.net/az766967/e/5/2/e/2/5/e52e256e48effdb0581c349a18d22b6f26290a77.jpg" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">Donate plasma
      </h5>
      <br>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <br>
      <a href="#" class="btn btn-outline-danger">About plasma for medicines</a>
    </div>
  </div>
  </div>
  <br>
  <hr>
  <h3 style="padding: 20px;">Explore being a donor</h3>
  <div class="shaza row justify-content-between">
    <div class="col-xs-12 col-lg-4">
      <a href="#">
      <div class="col-12"><h4>Who can give blood?</h4></div>
      <div class="offset-1 col-11"><p>Most people can give blood if they are fit and healthy, but there are some rules for donors. </p></div>
    </a>
    </div>
    <div class="col-xs-12 col-lg-4">
      <a href="#">
      <div class="col-12"><h4>Get the NHSGiveBlood app</h4></div>
      <div class="offset-1 col-11"><p>Once you've got an account, download our app to book and manage your appointments</p></div>
    </a>
    </div>
    <div class="col-xs-12 col-lg-4">
      <a href="#">
      <div class="col-12"><h4>Contact Us</h4></div>
      <div class="offset-1 col-11"><p>If you've got a question, get in touch. You can do this here online or by calling 0300 123 23. </p></div>
    </a>
    </div>



  </div>
</div>
</main><!-- End #main -->
