
  <!-- ======= Top Bar ======= -->

  <div class="container p-3">
    <div class="row">
      <div class="col-2">
     <a href="#"><img src="https://nhsbtdbe.blob.core.windows.net/umbraco-assets-corp/10380/logo-give-blood.svg" alt="Give Blood logo"></a>
      </div>
      <div class="offset-5 text-center col-2">
       <div class="signin pt-2" >
         <a class="sign-in" href="#" >Sign In&nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: rgb(179, 174, 174)" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg></a>
       </div>
      </div>
      <div class="col-3">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-around">

      <!-- <h1 class="logo me-auto"><a href="index.html">Green</a></h1> -->


      <div class="row">
        <div class="d-none d-md-block">
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto " href="#">Home</a></li>
                  <li class="dropdown"><a href="#"><span>Plasma</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
              <li class="dropdown"><a href="#"><span>Why Give Blood</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Who Give Blood</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>The Donation Process</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#team">Where To Donate</a></li>

              <li class="dropdown"><a href="#"><span>News And Campaigns</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>



      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="index.php">Home</a></li>
              <li><a href="about.php">About</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="contact.php">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav> -->



    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="img">
      <h2>We <span style="color: red;">need</span>  more blood donors this summer
      </h2>
      <div>

      <h4>
        Please book an<span style="color: royalblue;"> appointment</span>  to donate.
      </h4>
    </div>
    </div>
<div class="mt-2">
    <a class="p-2" style="text-decoration: none; background-color: #D61E05; color: rgb(248, 245, 245);" href="#">Appointments are available at some of our centres >></a>
  </div>
    <div class="pt-5 container">
      <h3 style="padding: 10px;">Donation highlights</h3>
<div class="row justify-content-between">

    <div class="col-12 col-lg-4 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/f/0/f/6/2/c/f0f62cca82ae964413e85d7f6f7bbe4339e900d7.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Critical call for Black people to give blood</h5>

        <p class="card-text">Donating blood today? Complete your pre-reading and health history questions online using any device, before visiting your blood drive location.</p>
        <a href="#" class="btn btn-outline-danger" >Find out more</a>
      </div>
    </div>
    <div class="col-12 col-lg-4 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/3/f/6/9/4/2/3f69429f4a6c66608770f97396de42b4e14f26f7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">More people now able to give blood
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <br>
        <a href="#" class="btn btn-outline-danger">What has changed?</a>
      </div>
    </div>
    <div class="col-12 col-lg-4 cardbg" >
      <img src="https://nhsbtdbe.blob.core.windows.net/az766967/e/5/2/e/2/5/e52e256e48effdb0581c349a18d22b6f26290a77.jpg" class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title">Donate plasma
        </h5>
        <br>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <br>
        <a href="#" class="btn btn-outline-danger">About plasma for medicines</a>
      </div>
    </div>
    </div>
    <br>
    <hr>
    <h3 style="padding: 20px;">Explore being a donor</h3>
    <div class="shaza row justify-content-between">
      <div class="col-xs-12 col-lg-4">
        <a href="#">
        <div class="col-12"><h4>Who can give blood?</h4></div>
        <div class="offset-1 col-11"><p>Most people can give blood if they are fit and healthy, but there are some rules for donors. </p></div>
      </a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="#">
        <div class="col-12"><h4>Get the NHSGiveBlood app</h4></div>
        <div class="offset-1 col-11"><p>Once you've got an account, download our app to book and manage your appointments</p></div>
      </a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <a href="#">
        <div class="col-12"><h4>Contact Us</h4></div>
        <div class="offset-1 col-11"><p>If you've got a question, get in touch. You can do this here online or by calling 0300 123 23. </p></div>
      </a>
      </div>



    </div>
  </div>
  </main><!-- End #main -->

  <br>
  <br>
  <br>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Blood Donation</h3>
      <p>Volunteers Needed to Help Blood Donations</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Blood</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a style="color: #044707;font-weight: bold;" href="#">Sh&Mo</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

